article {
    background-color: lightgray;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 20px;
    text-align: center;
}

body {
    background-color: lightgray;
}

header {
    background-color: #405845;
    text-align: center;
    height: 40px;
    padding: 20px;
}

#Esquerda {
    min-height: 200px;
    width: 50%;
    float: left;
}

#Direita {
    min-height: 200px;
    width: 50%;
    float: right;
}

.button {
    background-color: #405845;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 10px;
    border: 1px solid gray;
    border-radius: 5px;
}

input[type=text] {
    border: 1px solid gray;
    border-radius: 5px;
    color: gray;
    background-color: #E6E6FA;
}

input[type=date] {
    border: 1px solid gray;
    border-radius: 5px;
    color: gray;
    background-color: #E6E6FA;
}

select {
    border: 1px solid gray;
    border-radius: 5px;
    color: gray;
    background-color: #E6E6FA;
}

input[type=password] {
    border: 1px solid gray;
    border-radius: 5px;
    color: gray;
    background-color: #E6E6FA;
}

footer {
    background-color: lightgray;
    text-align: center;
    height: 100px;
    padding: 20px;
}

#margem {
    margin-left: 400px;
}

.vermelho{
	color: #FF0000;
}